
.no-border
  border: none

.no-focus
  &:focus
    outline:  none


.full-height
  height : 100vh
  overflow-x:  hidden
  overflow-y : hidden

.phantom-modal-content
  h2
    font-family: 'roboto thin'

.classy
  border: none
  border-bottom: 1px solid #888
  padding: 8px
  margin: 16px 0px
