<!DOCTYPE html>

<head>
    <title>Phantom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#0d575d">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/tesla2-prefixed.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/test.css' %}">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/dashboard.css' %}">
    <!--link(rel="manifest",href="javascripts/manifest.json")-->
    <!--script(src="bower_components/jquery/dist/jquery.min.js",defer)-->
    <!--script(src="bower_components/fastselect/dist/fastselect.standalone.min.js",defer)-->
    <!--script(src="bower_components/chart.js/dist/Chart.bundle.min.js",defer)-->
    {% load static %}
    <script src="{% static 'bower_components/jquery.min.js' %}" defer></script>
    {% load static %}
    <script src="{% static 'bower_components/fastselect.standalone.min.js' %}" defer></script>
    {% load static %}
    <script src="{% static 'bower_components/Chart.bundle.min.js' %}" defer></script>
   
    
    <script type="text/javascript">var teamId = "{{ team_id }}"; var managerId = "{{ manager_id }}"</script>
    {% load static %}
    <script src="{% static 'javascripts/dashboard.js' %}" defer></script>
    
    
    {% load static %}
    <script src="{% static 'javascripts/tesla.js' %}" defer></script>
</head>
<html lang="en-US">

<body>
    <div class="row full-height">
        <!--Sidebar-->
        <div class="flex-1 col white" id="sidebar">
            <h1 class="fluid padding-16-16" id="caption">Phantom</h1>
            <section class="margin-16-0" id="channel-block">
                <div class="row">
                    <div class="padding-8-8 fa fa-table"></div>
                    <div class="padding-8-8 uppercase sideheading row fluid y-center"><strong class="flex-1">Projects</strong>
                        <div class="fa fa-plus pointer padding-0-16" data-open="#add-channel-1"></div>
                    </div>
                </div>
                <ul class="no-style">
                    <!--each channelTest in ["Overview","Hello world","Phantom","Testing","Gulp"]li=channelTest-->
                    <!--li.active.padding-8-0.uppercase +Add Channel-->
                </ul>
            </section>
            <section id="employee-block">
                <div class="row">
                    <div class="padding-8-8 fa fa-user"></div>
                    <div class="padding-8-8 uppercase"><strong>Employee</strong></div>
                </div>
                <div class="row margin-8-8"><input class="bg-col2 fluid no-border no-focus white padding-8-8" id="search" type="search"><span class="bg-col2 fa fa-search padding-8-8 pointer" id="search-icon"></span></div>
                <ul class="no-style">
                    <!--each employeeTest in ["Rithwin siva","Akash Milton","Venkatesh","Adithya J","Sree charan","Ipsum"]li.padding-8-0=employeeTest
-->
                </ul>
            </section>
        </div>
        <!--Main bar-->
        <div class="flex-4" id="mainbar">
            <div id="project-view">
                <div class="tab" id="overview">
                    <header class="row centerify stretch">
                        <div class="flex-5 padding-8-8">
                            <h2 class="margin-8-8">Overview</h2>
                        </div>
                        <div class="icon-list row y-center">
                            <div class="uppercase bg-col2 white padding-8-8 pointer" data-open="#add-channel-1">Add Project</div>
                            <div class="fa fa-plus addTaskDialog padding-8-16 pointer centerify"></div>
                            <div class="fa fa-search padding-8-16 pointer"></div><span class="fa fa-home padding-8-16 pointer"></span><span class="fa fa-car padding-8-16 pointer"></span></div>
                    </header>
                    <div class="padding-16-32 row centerify full-height">Nothing to Show...</div>
                </div>
                <!--Stats Tabs-->
                <div class="tab hide">
                    <header class="row centerify stretch">
                        <div class="flex-5 padding-8-8">
                            <h2 class="margin-8-8">Overview</h2>
                        </div>
                        <div class="icon-list row y-center">
                            <div class="fa fa-plus addTaskDialog padding-8-16 pointer centerify"></div>
                            <div class="fa fa-search padding-8-16 pointer"></div><span class="fa fa-home padding-8-16 pointer"></span><span class="fa fa-car padding-8-16 pointer"></span></div>
                    </header>
                    <div class="detail">
                        <!--div#stats.padding-16-32.row(style="flex-wrap:wrap").space-arounddiv(style="height:480px;width:480px;resize:both;")
    canvas#chart1
div(style=" height:480px; width:480px;resize:both;")
    canvas#chart2
div(style=" height:480px; width:480px;resize:both;")
    canvas#chart3
div(style=" height:480px; width:480px;resize:both;")
    canvas#chart4

-->
                    </div>
                </div>
                <!--cycles tab-->
                <div class="tab hide" id="tense">
                    <header class="row centerify stretch">
                        <div class="flex-5 padding-8-8">
                            <h2 class="title margin-8-8">Overview</h2>
                        </div>
                        <div class="icon-list row y-center">
                            <div class="uppercase bg-col2 white padding-8-8 pointer addTaskDialog">Add task</div>
                            <!--div.fa.fa-plus.addTaskDialog.padding-8-16.pointer.centerify-->
                            <div class="fa fa-search padding-8-16 pointer"></div><span class="fa fa-home padding-8-16 pointer"></span><span class="fa fa-car padding-8-16 pointer"></span></div>
                    </header>
                    <div class="padding-16-32 row space-arou" id="cards">
                        <div class="card low" ondrop="drop(event)" onDragOver="allowDrop(event)">
                            <h3 class="uppercase">To do</h3>
                            <div>
                                <div>
                                    <div class="uppercase">task name</div>
                                    <div> Clabulare volares, tanquam mirabilis zelus.</div>
                                </div>
                                <div>Always cosmically view the powerful yogi.</div>
                                <div>Combine herring, okra and white bread. blend with ripe rum and serve sliced with rhubarb. Enjoy!</div>
                                <div>Mates are the comrades of the small love.</div>
                                <div>Powerdrain at the port that is when carnivorous species walk.</div>
                            </div>
                        </div>
                        <div class="card mid">
                            <h3 class="uppercase">Doing</h3>
                            <div>
                                <div>Clabulare volares, tanquam mirabilis zelus.</div>
                                <div>Always cosmically view the powerful yogi.</div>
                                <div>Combine herring, okra and white bread. blend with ripe rum and serve sliced with rhubarb. Enjoy!</div>
                                <div>Mates are the comrades of the small love.</div>
                                <div>Powerdrain at the port that is when carnivorous species walk.</div>
                            </div>
                        </div>
                        <div class="card high">
                            <h3 class="uppercase">Done</h3>
                            <div>
                                <div>Clabulare volares, tanquam mirabilis zelus.</div>
                                <div>Always cosmically view the powerful yogi.</div>
                                <div>Combine herring, okra and white bread. blend with ripe rum and serve sliced with rhubarb. Enjoy!</div>
                                <div>Mates are the comrades of the small love.</div>
                                <div>Powerdrain at the port that is when carnivorous species walk.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Chat screen-->
                <!--div#chatscreen.col(style="height:100%;")div.flex-1.col.chatFlow
    div.chatMessage.left Habena, accentor, et sectam.
    div.chatMessage.right When one avoids surrender and trust, one is able to receive definition.
    div.chatMessage.right Shred walnut exactly, then mix with triple sec and serve quickly in plastic bag.
    div.chatMessage.left Power is a coal-black sea.
    div.chatMessage.right All those klingons travel delighted, dead tribbles.
div.chatInputWrapper
    textarea(placeholder="Type your text here...")
    button.send SEND-->
            </div>
            <div class="hide" id="employee-view">
                <div class="tab">
                    <header class="row centerify stretch">
                        <div class="flex-5 padding-8-8">
                            <h2 class="title margin-8-8">Overview</h2>
                        </div>
                        <div class="icon-list row y-center">
                            <div class="uppercase bg-col2 white padding-8-8 pointer addTaskDialog">Add task</div>
                            <!--div.fa.fa-plus.addTaskDialog.padding-8-16.pointer.centerify-->
                            <div class="fa fa-search padding-8-16 pointer"></div><span class="fa fa-home padding-8-16 pointer"></span><span class="fa fa-car padding-8-16 pointer"></span></div>
                    </header>
                    <div class="row" id="employee-performance" style="flex-wrap: wrap;">
                        <div class="card span-3 padding-8-8 margin-16-16">
                            <h3>Task Name</h3>
                            <progress-bar>
                                <bar style="width:33%;"></bar>
                            </progress-bar>
                        </div>
                        <div class="card span-3 padding-8-8 margin-16-16">
                            <h3>Task Name</h3>
                            <progress-bar>
                                <bar style="width:33%;"></bar>
                            </progress-bar>
                        </div>
                        <div class="card span-3 padding-8-8 margin-16-16">
                            <h3>Task Name</h3>
                            <progress-bar>
                                <bar style="width:33%;"></bar>
                            </progress-bar>
                        </div>
                        <div class="card span-3 padding-8-8 margin-16-16">
                            <h3>Task Name</h3>
                            <progress-bar>
                                <bar style="width:33%;"></bar>
                            </progress-bar>
                        </div>
                        <div class="card span-3 padding-8-8 margin-16-16">
                            <h3>Task Name</h3>
                            <progress-bar>
                                <bar style="width:33%;"></bar>
                            </progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--{"project_name":"Project2","manager_id":"1","deadline":"2017-09-15","employee_id_list":["2"]}-->
            <div class="modal col fluid x-center centerify animate-right hide" id="add-channel-1">
                <div class="modal-content phantom-modal-content padding-8-16 span-6 rounded">
                    <div class="close fa fa-close"></div>
                    <h2>Add Project</h2>
                    <hr>
                    <form class="fluid col">
                        <div class="row margin-8-0 centerify"><label class="margin-8-8 flex-1">Project Name</label><input class="flex-2 padding-8-8" name="project-name"></div>
                        <div class="row margin-8-0 centerify"><label class="margin-8-8 flex-1">Description</label><input class="flex-2 padding-8-8"></div>
                        <div class="row margin-8-0 centerify"><label class="margin-8-8 flex-1">Deadline</label><input class="flex-2 padding-8-8" type="date" name="deadline"></div>
                        <div class="row margin-8-0 centerify"><span class="margin-8-8 flex-1">Working Hours Required</span><input class="flex-2 padding-8-8" type="number"></div>
                        <div class="row margin-8-0 space-around"><span class="margin-8-8 flex-1">Priority</span>
                            <div class="flex-2 row space-around">
                                <div class="checker row centerify"><input class="invisible" type="radio" value="LOW" name="priority"><span>LOW</span></div>
                                <div class="checker row centerify"><input class="invisible" type="radio" value="MID" name="priority"><span>MEDIUM</span></div>
                                <div class="checker row centerify"><input class="invisible" type="radio" value="HIGH" name="priority"><span>HIGH</span></div>
                            </div>
                        </div>
                        <div class="row margin-32-0 centerify">
                            <div class="padding-8-16 pointer bg-teal white no-border" data-close="#add-channel-1" data-open="#add-channel-2">Next</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal col fluid x-center centerify animate-right hide" id="add-channel-2">
                <div class="modal-content phantom-modal-content padding-8-16 span-6 rounded">
                    <div class="close fa fa-close"></div>
                    <h2>Add Employee</h2>
                    <hr>
                    <form class="fluid col">
                        <div class="row margin-8-0 centerify"><span class="margin-8-8 flex-1">Select Employee</span>
                            <!--input.flex-2.padding-8-8-->
                            <!--input.fluid.flex-2.padding-8-8.empSelect(multiple,name="EmpDet",data-url="data.json")--><select class="fluid flex-2 padding-8-8" id="project-emp" multiple name="EmpDet"><option value="3">Bangladesh</option></select></div>
                        <!--div.row.margin-8-0.centerifyspan.margin-8-8.flex-1 Channel Name
input.flex-2.padding-8-8-->
                        <!--div.row.margin-8-0.centerifyspan.margin-8-8.flex-1 Channel Name
input.flex-2.padding-8-8-->
                        <div class="row margin-8-0 centerify">
                            <div class="padding-8-16 pointer bg-teal white no-border" data-close="#add-channel-2" onclick="post.addProject()">Submit</div>
                        </div>
                    </form>
                </div>
                <!--div#add-channel-modal2.modal.col.fluid.x-center.centerify-->
                <!--    div.modal-content.phantom-modal-content.padding-8-16.span-6.rounded-->
                <!--        div.close.fa.fa-close-->
                <!--        h2 Add Employees-->
                <!--        hr-->
                <!--        form.fluid.col-->
                <!--            div.col.margin-8-0.centerify-->
                <!--                div.row.x-center.margin-16-8-->
                <!--                    //| Employees-->
                <!--                    input.fluid.empSelect(multiple,name="EmpDet",data-url="data.json")-->
                <!--                div-->
                <!--                button.padding-8-16.pointer.bg-teal.white.no-border Next-->
                <!--                //each emp in ["Rithwin siva","Akash Milton","Venkatesh","Adithya J","Sree charan","Ipsum"]-->
                <!--                //    option(value=emp)=emp-->
            </div>
            <div class="modal col fluid x-center centerify animate-right hide" id="task-assignment">
                <div class="modal-content phantom-modal-content padding-8-16 span-6 rounded">
                    <div class="close fa fa-close"></div>
                    <h2>Create Task</h2>
                    <hr>
                    <form class="fluid col">
                        <div class="row margin-8-0 centerify"><span class="margin-8-8 flex-1">Assignment Name</span><input class="flex-2 padding-8-8" name="name"></div>
                        <div class="row margin-8-0 centerify"><span class="margin-8-8 flex-1">Employees</span><select class="flex-2 padding-8-8" id="taskemp" name="employees" multiple data-load-once="false"></select></div>
                        <div class="row margin-8-0 centerify"><span class="margin-8-8 flex-1">DeadLine</span><input class="flex-2 padding-8-8" name="deadline" type="date"></div>
                        <div class="row margin-8-0 centerify">
                            <div class="padding-8-16 pointer bg-teal white no-border" onclick="post.addTask()">Create</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal col fluid x-center centerify animate-right hide" id="task-enquiry">
                <div class="modal-content phantom-modal-content padding-16-16 span-6 rounded">
                    <div class="close fa fa-close"></div>
                    <h2>Task Name</h2>
                    <hr>
                    <ul class="inline no-style padding-8-0">
                        <li class="padding-8-8 bg-col2 white rounded margin-8-8">sree</li>
                        <li class="padding-8-8 bg-col2 white rounded margin-8-8">charan</li>
                        <li class="padding-8-8 bg-col2 white rounded margin-8-8">ashok</li>
                        <li class="padding-8-8 bg-col2 white rounded margin-8-8">venkat</li>
                    </ul>
                    <h3>Deadline</h3>
                    <div>29-02-2222</div>
                    <progress-bar class="margin-16-0">
                        <bar style="width:33%;">44</bar>
                    </progress-bar>
                </div>
            </div>
        </div>
    </div>
</body>

</html>